{% extends "base.html" %}
{% block title %}Our Services{% endblock %}

{% block content %}
<style type="text/css">
	.btn{
		margin-bottom: 10px;
	}
	@media screen and (max-width: 768px) {
	.btn {
		margin-bottom: 0px;
	}
</style>

<div class="container">
	<br><br>
	{% if user.is_authenticated %}
	<h2>Which service would you like to use---</h2>
	<button type="button" class="btn btn-outline-dark col-sm-5 offset-sm-2 col-md-5 offset-md-0" onclick="show('withdraw', 'deposit', 'balance','account_details')">Account Details</button>&nbsp;&nbsp;
	<button type="button" class="btn btn-outline-dark col-sm-5 offset-sm-2 col-md-5 offset-md-0" onclick="show('withdraw', 'account_details', 'balance', 'deposit')">Deposit</button>&nbsp;&nbsp;
	<button type="button" class="btn btn-outline-dark col-sm-5 offset-sm-2 col-md-5 offset-md-0" onclick="show('deposit', 'account_details', 'balance', 'withdraw')">Withdraw</button>&nbsp;&nbsp;
	<button type="button" class="btn btn-outline-dark col-sm-5 offset-sm-2 col-md-5 offset-md-0" onclick="show('deposit', 'account_details', 'withdraw', 'balance')">Balance</button>&nbsp;&nbsp;
	<br><br>
	{% endif %}
</div><br><br>

<div id = account_details style="display:none;">
	<h4>Name: {{user.name}}</h4>
	<h4>Email: {{user.email}}</h4>
	<h4>Mobile number: {{user.mobile}}</h4>
	<h4>Aadhar number: {{user.aadhar}}</h4>
	<h4>Account number: {{user.account}}</h4><br><br>
</div>

<div class="container" id="container">
<form id="deposit" style="display:none;" method="POST">
	<h3>Deposit</h3><br>
	<div class="form-group">
	<label for="deposit">Enter Amount (in Rupees):</label>
	<input type="text" class="form-control" id="deposit" name="deposit" placeholder="Enter Amount"><br>
	<button type="submit" class="btn btn-primary">Deposit</button>
	</div><br><br>
</form>

<form id="withdraw" style="display:none;" method="POST">
	<h3>Withdraw</h3><br>
	<div class="form-group">
	<label for="withdraw">Enter Amount (in Rupees):</label>
	<input type="text" class="form-control" id="withdraw" name="withdraw" placeholder="Enter Amount"><br>
	<button type="submit" class="btn btn-primary">Withdraw</button>
	</div><br><br>
</form>
</div>

<div class="container">
	<h2 id="balance" style="display:none;">Your Current Balance is: ₹{{ trans.balance }}</h2>
	<br><br>
</div>
{% endblock %}